{% extends 'base.html'%}
{% block title %}
    Home :)
{% endblock %}
{% block content %}
    <br>
    <!-- Jumbotron element from Bootstrap for a large banner with text -->
    <div class="jumbotron">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">This is the shop in the world.</p>
        <hr class="my-4">
        <p></p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/all_items" role="button">Start Shopping</a> <!-- Large primary button -->
        </p>
    </div>
{% endblock %}
